

.stApp {
    background-color: #f0f2f6;
}

.stSidebar {
    background: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(15px); 
    border-radius: 15px; 
    padding: 1rem;
    margin-top: 1rem;
    color: #1f2f56;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stSidebar .stTextInput, .stSidebar .stRadio, .stSidebar label {
    color: #336699;
}


.stButton>button {
    color: white;
    background-color: #336699;
    border: none;
    padding: 0.5em 1em;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.stButton>button:hover {
    background-color: #264d73;
}

/* Heading and General Text */
h1, h2, h3, h4, h5, h6 {
    color: #336699;
}

.st-bq {
    color: #336699;
}
